# 1. FinanceDate reader 를 이용하여 금융데이터 분석

## 2.설치

In [4]:

!pip install -U finance-datareader

Requirement already up-to-date: finance-datareader in c:\users\admin\anaconda3\lib\site-packages (0.9.20)
Requirement already satisfied, skipping upgrade: requests-file in c:\users\admin\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in c:\users\admin\anaconda3\lib\site-packages (from finance-datareader) (1.1.3)
Requirement already satisfied, skipping upgrade: tqdm in c:\users\admin\anaconda3\lib\site-packages (from finance-datareader) (4.50.2)
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in c:\users\admin\anaconda3\lib\site-packages (from finance-datareader) (2.24.0)
Requirement already satisfied, skipping upgrade: lxml in c:\users\admin\anaconda3\lib\site-packages (from finance-datareader) (4.6.1)
Requirement already satisfied, skipping upgrade: six in c:\users\admin\anaconda3\lib\site-packages (from requests-file->finance-datareader) (1.15.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.19.2)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.25.11)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2020.6.20)

## 3. 라이브러리 불러오기

In [75]:
import pandas as pd

In [60]:
import FinanceDataReader as fdr

fdr.__version__ #버전확인

'0.9.20'

## 4. 한국거래소 상장종목 전체 가져오기

In [61]:
# 도움말을 보고자 할때는 ? 를 사용하고 소스코드를 볼 때는 ??를 사용합니다.

fdr.StockListing??

KRX : KRX 종목 전체  
KOSPI : KOSPI 종목  
KOSDAQ : KOSDAQ 종목  
KONEX : KONEX 종목  
NASDAQ : 나스닥 종목
NYSE : 뉴욕증권거래소 종목  
SP500 : S&P500 종목

In [62]:
# 한국거래소 상작종목 전체 가져오기
df_krx = fdr.StockListing("KRX")
df_krx.shape

(6998, 10)

In [63]:
df_kospi = fdr.StockListing("KOSPI")
df_kosdaq = fdr.StockListing("KOSDAQ")

In [64]:
df_kosdaq.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 0 to 6997
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          1499 non-null   object
 1   Market          1499 non-null   object
 2   Name            1499 non-null   object
 3   Sector          1473 non-null   object
 4   Industry        1469 non-null   object
 5   ListingDate     1473 non-null   datetime64[ns]
 6   SettleMonth     1473 non-null   object
 7   Representative  1473 non-null   object
 8   HomePage        1330 non-null   object
 9   Region          1473 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 128.8+ KB

In [65]:
df_krx.info()  #type object : 문자열 /

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6998 entries, 0 to 6997
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          6998 non-null   object
 1   Market          6998 non-null   object
 2   Name            6998 non-null   object
 3   Sector          2416 non-null   object
 4   Industry        2397 non-null   object
 5   ListingDate     2416 non-null   datetime64[ns]
 6   SettleMonth     2416 non-null   object
 7   Representative  2416 non-null   object
 8   HomePage        2242 non-null   object
 9   Region          2416 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 601.4+ KB

In [66]:
# 기술 통계값 요약

df_krx.describe()

<ipython-input-66-23f0c0cc0f1a>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_krx.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,6998,6998,6998,2416,2397,2416,2416,2416,2242,2416
unique,6998,3,6998,158,2245,1780,9,2301,2221,21
top,57G346,KOSPI,한국FV46KB금융풋,특수 목적용 기계 제조업,기업인수합병,1996-07-03 00:00:00,12월,-,http://www.donga.co.kr,서울특별시
freq,1,5357,1,141,36,8,2356,5,2,974
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-01-29 00:00:00,NaN,NaN,NaN,NaN

# 5. 파일로 저장하고 불러오기

In [67]:
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [68]:
# csv파일로 저장
df_krx.to_csv("krx.csv", index=False) #index값을 빼고 저장

In [69]:
# csv로 저장된 파일을 다시 DateFrame으로 읽어서 확인해보기
pd.read_csv("krx.csv")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
6993,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6994,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6995,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
6996,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
6997,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

# 6. 주식 확인하기

In [70]:
# 삼성전자, 2020년 ("종목코드", "년도")
df1 = fdr.DataReader("005930", "2021")
df1.tail()

             Open   High    Low  Close    Volume    Change
Date
2021-01-26  88800  89200  86500  86700  33178936 -0.030201
2021-01-27  86600  87700  85600  85600  26423070 -0.012687
2021-01-28  83200  85600  83200  83700  31859808 -0.022196
2021-01-29  84500  85000  82000  82000  39615978 -0.020311
2021-02-01  81700  83400  81000  83000  27780397  0.012195

In [71]:
# SK 하이닉스
df2 = fdr.DataReader("000660", "2021")
df2.tail()

              Open    High     Low   Close   Volume    Change
Date
2021-01-26  134000  134000  128500  129000  6270106 -0.044444
2021-01-27  129500  132000  127500  128500  5068456 -0.003876
2021-01-28  124000  125500  121500  123000  6270829 -0.042802
2021-01-29  128500  128500  121500  122500  7391307 -0.004065
2021-02-01  121000  126000  118000  125000  5604743  0.020408

In [80]:
df3 = fdr.DataReader("071050", "2021")
# df3.tail()
df3.shape

(21, 6)

In [79]:
df4=fdr.DataReader("088800","2021")
# df4.tail()
df4.shape

(21, 6)

In [81]:
result = pd.concat([df1,df2,df3,df4],axis = 1)

In [82]:
result.tail()

,Open,High,Low,Close,Volume,Change,Open,High,Low,Close,...,Low,Close,Volume,Change,Open,High,Low,Close,Volume,Change
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-26,88800,89200,86500,86700,33178936,-0.030201,134000,134000,128500,129000,...,86600,86900,431009,-0.013621,25600,25600,24750,24750,595586,-0.029412
2021-01-27,86600,87700,85600,85600,26423070,-0.012687,129500,132000,127500,128500,...,87700,89800,856077,0.033372,24750,24850,23500,23500,1176216,-0.050505
2021-01-28,83200,85600,83200,83700,31859808,-0.022196,124000,125500,121500,123000,...,85600,86000,794811,-0.042316,22700,24250,22350,23150,1303368,-0.014894
2021-01-29,84500,85000,82000,82000,39615978,-0.020311,128500,128500,121500,122500,...,80100,81300,761747,-0.054651,23400,23700,22000,22250,736158,-0.038877
2021-02-01,81700,83400,81000,83000,27780397,0.012195,121000,126000,118000,125000,...,80500,84600,376515,0.040590,22000,22500,21350,22400,547478,0.006742